html {
<<<<<<< HEAD
    height: 100%;
=======
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box; 
}

body {
<<<<<<< HEAD
    box-sizing: border-box;
    height: 100%;
=======
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7
    background-color: $primary;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    overflow-x:hidden;
    color: white;
<<<<<<< HEAD
    align-items: center;

=======
    // height: 300vh;
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7
}

h1 {
    color:$secondary;
<<<<<<< HEAD
    font-size: 3rem;
    font-family: Pacifico, sans-serif;
    margin: 0;
    padding: 0;
    z-index: 1;
}

h2 {
    font-family: Montserrat, sans-serif ;
}

=======
    font-size: 2.5rem;
    font-family: Pacifico, sans-serif;
    margin: 0;
    padding: 0;
}
 
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7


a, a:visited, a:hover {
    text-decoration: none;
}

<<<<<<< HEAD
// Container 

=======
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7

//Flexbox

.flex {
    display:flex;


    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }

    &-jc-sa {
        justify-content: space-around;
    }
<<<<<<< HEAD
    &-jc-se {
        justify-content: space-evenly;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-r {
        align-items:end;
    }
=======
    &-ai-c {
        align-items: center;
    }
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7

    &-fd-c {
        flex-direction: column;
    }

    &-fd-r {
        flex-direction: row;
    }

    
}

// CSS Box model settings

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

<<<<<<< HEAD
.line__between__projects {
    height: 1px;
    background-color: $primary;
    margin: 5px 0 0 0;
}
=======
.container {
    
    &--pall {
        padding-top: 4.375rem; 
        padding-bottom: 4.375rem;
        padding-left:1.5rem;
        padding-right:1.5rem;
    }

    &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }

    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt {
        padding-top: 4.375rem;

    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--pb {
        padding-bottom: 4.375rem;
    }
    &--pl {
        padding-left: 1.5rem;
    }
}
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7
