
.nav {
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7
    background-color: $secondary;
    padding: 0.5rem;
    margin: 0;
    height: 3.5rem;
    z-index: 9999;
    a {
        color:white;
    }

    &__logo {
        font-size: 22px;
    }
    
    .bars {
        height: 22px;
        
        &.open {
            .bar1 {
                transform: rotate(45deg);
                transform-origin:8px 10px;
            }
            .bar2 {
                opacity: 0;
                transform: translate(10%);
            }
            .bar3 {
                transform: rotate(-45deg);
                transform-origin:4px -9px;
            }
        }

        > span {
            border-radius: 5px;
            display: block;
            width: 25px;
            height: 3px;
            background-color: white;
            transition: all 150ms ease-in-out;
        } 
    }

    .hide-for-mobile {
        @include breakpoint-down(large) {
            display: none;
        }
    }
    .hamburger {
        position: relative;

    }
    
      
    .hide-for-desktop {
<<<<<<< HEAD
         @include breakpoint-up(large){
=======
         @include breakpoint-up(medium){
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7
            display: none;
        }
    }
 
}

.mobile__menu {
    visibility: hidden;
<<<<<<< HEAD
    top: -100%;
    position: relative;
    background-color: #fff;
    max-width: 90%;
    margin: auto;
    margin-bottom: -100%;
    height: 50% ;
    z-index: 9998;
    transition: all 350ms ease-in-out;

    .mobile__links {
        background-color: white;
        height: 100%;
        width: auto;
        font-size: 1.5rem;
        border-radius: 0 0 12px 12px;
        transition: all 350ms ease-in-out;


        a {
            transition: all 350ms ease-in-out;
            color: $secondary;
        }
    }

    a:not(:last-child) {
        margin-bottom: 4rem;
    }

    
    
     
}

.menu__open {
    visibility: inherit;
    top: 0;
    transition: all 350ms ease-in-out;
    z-index: 9998;
    border-radius: 0 0 12px 12px;

    
    .mobile__links {
        

        a:hover {
            transform: scale(1.1);
            transition: all 350ms ease-in-out;
            color:purple;
        }
    }

    
    
}




=======
    position: absolute;
    margin: 0 10px;
    height: 50vh;
    top: -50vh;
    left: 0;
    right: 0;
    border-radius: 0px 0px 12px 14px;
    background-color: white;
    transition: top 250ms ease-in-out;   
}

.mobile__menu {
    @include breakpoint-up(medium){
       display: none;
   }
}

.menu__open {
    top: 40px;
    visibility: inherit;
    top: 40px;
    z-index: -9999;
    
    >a {
        position: relative;
        font-size: $font-xl;
        font-weight: 900;
        color: $secondary;
        transition: all 200ms ease-in-out;
        &:not(:last-child) {
            margin-bottom: 25px;
        }

        &:hover {
            transform: scale(1.1);
            color:purple;
        }
    }
}
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7
    

// Desktop

.desktop__links {
    position: absolute;
<<<<<<< HEAD
    right: 1rem;
 
    .nav__items {
        >a {
            font-size: 1rem;
            font-weight: 100;
            margin: 10px;
            transition: all 200ms ease-in-out;
            &:hover { 
=======
    right: 0;

    .nav__items {
        >a {
            font-size: $font-sm;
            font-weight: 100;
            margin: 10px;
            transition: all 200ms ease-in-out;
            &:hover {
>>>>>>> 276145d7908cd0193ee052d8eaa79fcfbd1045d7
                color: $primary;
                transform:scale(1.05);
            }
        }
    }
    @include breakpoint-down(medium){
        display: none;
    }

}

